@{
    ViewData["Title"] = "Home Page";
    ViewData["Header"] = "Prof. Hilton's Favorite Books";
}
@model ProjectListViewModel

<div class="row justify-content-around">
    @foreach (var x in Model.Books)
    {
        // call partial view
        <partial name="ProjectSummary" model="x" />

    }
</div>


    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" 
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-info" page-url-category="@Model.Category"
         class="btn-group pull-right m-1"></div>

